<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs', {title: title}); %>
  <body>

  <%- include('partials/navbar.ejs', {title: 'Project Manager'}); %>

   <main role="main" class="container">
    <h1 class="mt-5"><%= title %></h1>

    <form id="createForm">
      <p>Nom : <input id="projectName" class="form-control" type="text" name="projectName"  style="width:600px;" value="<%=project.name%>" required/></p>
      <span>Description : <span/>
      <textarea class="form-control" id="projectDescr" placeholder="Description" name="projectDescr" rows="3" style="width:600px;" ><%=project.description%></textarea>

      <p>Durée d'un sprint (jours) : <input id="projectSprintDur" class="form-control" type="number" min="1" name="projectSprintDur" style="width:70px;" value="<%=project.sprintDur%>" required/></p>
      <input class="btn btn-primary" type="submit" name="submitter" value="Send">

    </form>
  </main>

  <% include partials/footer %>
  <% include partials/scripts %>

  </body>
</html>

<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
<script type="text/javascript">
const createForm = document.querySelector("#createForm");
const createURL = "http://localhost:3000/projet/edit/<%=project.uid%>";

createForm.addEventListener('submit', handleCreateSubmit);

function handleCreateSubmit(){
  let projectName = $('#projectName').val();
  let projectDescr = $('#projectDescr').val();
  let projectSprintDur = $('#projectSprintDur').val();

  let project = {
    name: projectName,
    description: projectDescr,
    sprintDur: projectSprintDur
  };

  fetch(createURL, {
    method: 'PUT',
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    body:JSON.stringify(project)
  });
}

</script>
