<!DOCTYPE html>
<html>

  <%- include('partials/head.ejs', {title: title}); %>

  <body>

  <%- include('partials/navbar.ejs', {title: 'Project Manager', user: user}); %>

   <main role="main" class="container">
    <h1 class="mt-5"><%=  project.name %></h1>

      <h3 class="mt-5">Description:</h3>
        <p> <%= project.description %> </p>

      <h3 class="mt-5">Sprint Duration:</h3>
        <p> <%= project.sprintDur %> </p>

      <h3 class="mt-5">Backlog:</h3>

      <h3 class="mt-5">Sprints:</h3>

  </main>

  <% include partials/footer %>
  <% include partials/scripts %>

  </body>
</html>
