<!DOCTYPE html>
<html>
<%- include('partials/head.ejs', {title: title}); %>
  <body>

    <%- include('partials/navbar.ejs', {title: 'Project Manager', user: user}); %>


<main role="main" class="container">
    <h1 class="mt-5"><%= title %></h1>
  <p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>

        <% projects.forEach(function(projet) { %>
            <tr>
            <a href="/project/byId/<%= projet.uid%>">
            <th scope="row"><a href="/project/byId/<%= projet.uid%>"> <%= projet.name%> </a></th>
            <th scope="row"><a href="/project/byId/<%= projet.uid%>"> <%= projet.description.substr(0, 100);%> ... </a></th>
            </a>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </p>

  <a class="btn btn-outline-success my-2 my-sm-0" href="/project/create" role="button">New Project</a>

</main>


<% include partials/footer %>
<% include partials/scripts %>

  </body>
</html>
