<!DOCTYPE html>
<html>
<%- include('partials/head.ejs', {title: title}); %>
  <body>

    <%- include('partials/navbar.ejs', {title: 'Project Manager', user: user}); %>


<main role="main" class="container">
    <h1 class="mt-5"><%= title %></h1>
  <p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>

        <% projects.forEach(function(projet) { %>
            <tr>
            <th scope="row"><%= projet.uid%></th>
            <th scope="row"><%= projet.name%></th>
            <th scope="row"><%= projet.description%></th>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </p>
</main>


<% include partials/footer %>
<% include partials/scripts %>

  </body>
</html>
